
{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 img">

        </div>
        <div class="col-md-6 details">
            <blockquote>
                <h5>{{ personne.firstname }}  {{ personne.name }}</h5>
                <small><cite title="Source Title">{{ personne.age}}  <i class="icon-map-marker"></i></cite></small>
            </blockquote>
            <p>
                {{ personne.pieceIdentite}} <br>
                {{ personne.job}} <br>
                {{ personne.path}} <br>

            </p>
        </div>
    </div>

    <a
            href="{{ path('personne.list') }}"
            target="_blank"
            class="card-link">Menu Principale</a>
{% endblock %}

{% block title %}
    Détail Personne
{% endblock %}
