
{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 img">
            <img

                    width="150px" height="150px"
                    {% if ('http' in personne.path) %}
                        src="{{personne.path }}"
                    {% else %}
                    src="{{ asset(personne.path) }}"
                    {% endif %}

                    alt="" class="rounded-circle">
        </div>
        <div class="col-md-6 details">
            <blockquote>
                <h5>{{ personne.firstname }}  {{ personne.name }}</h5>
                <small><cite title="Source Title">{{ personne.age}}  <i class="icon-map-marker"></i></cite></small>
            </blockquote>
            <p>
                {{ personne.pieceIdentite}} <br>
                {{ personne.job}} <br>

                {% if personne.pieceIdentite %}
            <div class="alert alert-primary">
                {{ personne.pieceIdentite.type }} : {{ personne.pieceIdentite.identifiant }}
                <a href="{{ path('piece_identite.edit', {'personne': personne.id, 'id': personne.pieceIdentite.id }) }}">
                    <i class="fas fa-id-card"></i>
                </a>.
            </div>
            {% else %}
                <div class="alert alert-danger">
                    Vous ne dispez pas d'une pièce d'identité. Pour la reseigner tapez ici
                    <a href="{{ path('piece_identite.edit', {'personne': personne.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>.
                </div>
            {% endif %}
            </p>
        </div>
    </div>

    <a
            href="{{ path('personne.list') }}"
            target="_blank"
            class="card-link">Menu Principale</a>

{% endblock %}

{% block title %}
    Détail Personne
{% endblock %}
